.labelField {
	width: 250px;
	height: 30px;
	position: absolute;
	top: 0px; /*y pos*/
	left: 0px;  /*x pos*/
}
.textField {
	width: 250px;
	height: 30px;
	position: absolute;
	top: 0px; /*y pos*/
	left: 0px;  /*x pos*/
}
.linkField {
	width: 250px;
	height: 30px;
	position: absolute;
	top: 0px; /*y pos*/
	left: 0px;  /*x pos*/
}

.dragonWheel{
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	border: 1px thick black ;
}

.widgetHover{
	padding: 2em;
	background-color: gray;
	 -moz-border-radius: 50% 50%;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%; 
	position: absolute;
    z-index: 99;
   }

.wheelWidget{
	padding: 5em;
	background-color: gray;
	/* -moz-border-radius: 50% 50%;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;  */
	
}

.label{
	color: black;
}

.center{
	background-color: gray;
	padding: 5em;
	z-index: 99;
	position: absolute;
	left: 268px;
	top:180px;
	
	/* -moz-border-radius: 50% 50%;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;  */
}