.registerCompHeaderLbl{
	font-size: 20px;
}

.registerCompFormTf{
	width: 80px;
	height: 30px;
}

.saveCompBtnCss{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 0px 3px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 4px;
    cursor: hand;
    cursor: pointer;
}

.addNewPropertyImage{
	width: 15px;
	cursor: pointer;
	cursor: hand;
	margin-top: 6px;
	margin-left: 7px;
	 
}

.compRegisterLabelCss{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

.properyPanelCss{
	margin-top: 10px;
}

.saveConfigButton{
	border: 1px solid #DCDCDC;
	margin: 0px 3px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    font-family: 'Ubuntu',sans-serif;
    height: 25px;
    margin-top: 4px;
    cursor: hand;
    cursor: pointer;
}

.componentFormPanel{
	border: 1px solid;
	width: 1000px;
	margin-top: 15px;
	
}

.componentListPanel{
	width: 50%;
}
.formListHolder{
	border-bottom: 1px solid;
	border-top: 1px solid;
	width: 1000px;
	margin-top: 10px;
}

.componentManager{
	
}

.compPanelCss{
	height: 25px;
	background-color: lightgray;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	width: 500px;
}

.confEditorPanel{
	margin-top: 10px;
	margin-bottom: 10px;
}

.componentSectionHeaderLbl{
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-bottom: 7px;
	margin-top: 10px;
}

.libraryPanel{
	margin-top: 7px;
	width: 300px;
}
/*************************/

.managerHomePanel{
	border: 1px solid;
}

.managerHomeButton {
	width: 130px;
	height: 50px;
	border: 1px solid #DCDCDC;
	margin: 5px 5px 5px 5px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
	box-shadow: 1px 1px 1px 0 rgb(99, 85, 85);
	color: #333333;
	cursor: hand;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.buttonToolbar{
	border-right: 1px solid;
}

.contentPanel{
	margin: 5px 5px 5px 5px;
}

.componentListRow{
	cursor: pointer;
	border-bottom-style:dotted;
}

/****** SNIPPET MANAGER********/
.headerLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color : #333;
}
.subHeaderLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color : #333;
}
.regularLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}
.textField{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}