.registerCompHeaderLbl{
	font-size: 20px;
}

.registerCompFormTf{
	width: 80px;
	height: 30px;
}

.saveCompBtnCss{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 10px;
}

.saveCompBtnDependentcss{
	cursor: hand;
    cursor: pointer;
}

.removePropertyImage {
	width: 17px;
	cursor: pointer;
	cursor: hand;
	margin-top: 8px;
	margin-left: 7px;
}

.compRegisterLabelCss{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-top: 10px;
}

.properyPanelCss{
	margin-top: 10px;
}

.saveConfigButton{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 4px;
    cursor: hand;
    cursor: pointer;
}

.componentFormPanel{
	border: 1px solid;
	width: 930px;
	margin-top: 4px;
	margin-left: 10px;
	
}

.componentListPanel{
	margin-left: 15px;
}
.formListHolder{
	border-bottom: 1px solid;
	border-top: 1px solid;
	width: 1000px;
	margin-top: 10px;
}

.componentManager{
	
}

.compPanelCss{
	height: 25px;
	background-color: lightgray;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	width: 500px;
}

.confEditorPanel{
	margin-top: 10px;
	margin-bottom: 10px;
}

.componentSectionHeaderLbl{
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px;
}

.libraryPanel{
	margin-top: 7px;
	width: 300px;
}
/*************************/

.managerHomePanel {
	border: 1px solid grey;
	padding: 10px;
	margin: 0 5px;
	width: 99%;
}

.managerHomeButton {
	width: 150px;
	height: 25px;
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #333;
	cursor: hand;
	cursor: pointer;
	font-size: 12px;
	background: white;
	border-radius: 2px;
}

.managerHomeButton:HOVER{
    border-color:orange;
}

.buttonToolbar {
	border: 1px solid grey;
	padding: 15px;
	margin: 23px 0 0 5px;
}

.contentPanel{
	margin-left: 5px;
}

.componentListRow{
	cursor: pointer;
	border-bottom-style:dotted;
}

/****** SNIPPET MANAGER********/
.headerLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color : #333;
}
.subHeaderLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color : #333;
}
.regularLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}
.textField{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}

.configurationPropertyGrid{
	border-bottom: 1px solid black;
}
.FlexTable-headerBar {
  
  background: lightgray;
}

.pageCreationBasePanel {
	padding-left: 30px;
	padding-top: 10px;
}

.selectPagePanel {
	width: 100%;
}

.createPageButtonPanel {
	width: 100%;
	margin-top: 5px;
}

.editPagePanel {
	width: 100%;
	margin-top: 5px;
}

.pageConfigurationBasePanel {
	width: 100%;
}

.spanSelectionPanel {
	width: 100%;
	margin-top: 10px;
}

.editPageLabel {
	font-weight: bold;
}

.configTitleLabel {
	font-weight: bold;
}

.newPageNamePanel {
	width: 100%;
}

.newPageTitleLabel {
	font-weight: bold;
}

.processPageButton {
	border: 1px solid #DCDCDC;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    font-family: 'Ubuntu',sans-serif;
    height: 25px;
	cursor: pointer;
	cursor: hand;
}

.createPageButton {
	border: 1px solid #DCDCDC;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    font-family: 'Ubuntu',sans-serif;
    height: 25px;
	cursor: pointer;
	cursor: hand;
}

.fullWidth{
	width: 100%;
}

.queryDetailHolderCss{
	border: 1px solid black;
	padding: 10px;
}

.opDetailHolderCss{
	border: 1px solid black;
	padding: 10px;
}

.gwt-TabPanelBottom {
	border-color: grey !important;
	border-width: 1px !important;
	overflow: hidden;
	padding: 6px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: grey !important !important;
    opacity : 0.4;
}

.gwt-TabBar .gwt-TabBarItem {
	padding: 4px 10px !important;
	color: white !important;
	font-weight: normal !important;
	background: black !important;
	border-radius: 3px 3px 0 0 !important;
}

.propNameValContainerFlex{
	margin-left: -20px;
}

.modelLblCss{
	margin-top: 5px;
}

.popupCss{
	left: 542px;
	top: 70px;
	visibility: visible;
	position: absolute;
	overflow: visible;
	height: 20px;
	text-align: center;
	background-color: lightyellow;
	padding: 7px;
}

.popupGlassPanel{
 	background-color: #FFFFFF;
    opacity: 0.3;
}

.popupLbl{
	font-family: 'Ubuntu',sans-serif;
	color: #585858;
}

.componentNameSuggestionBox{
	margin: 10px 0px 0px 10px;
	padding: 3px;
}

.propertNameField{
	margin: 14px 0px 0px 10px;
	padding: 3px;
}

.propertyValueField{
	margin: 9px 0px 0px 10px;
	padding: 3px;
}

.emsTypeListBox {
	margin-top: 10px;
	margin-left: 5px;
	border: 1px solid grey;
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	padding: 3px;
}

.isDefaultField{
	margin-top: 11px;
	
}

.libraryListBoxField {
	margin-top: 11px;
	border: 1px solid grey;
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	padding: 3px;
	margin-left: 10px;
}

.configurationPropertyGrid{
	border-bottom: 1px solid black;
}
.FlexTable-headerBar {
  
  background: lightgray;
}
.propertyConfListScrollPanel{
   border: 1px solid black;	
   margin-top: 10px;
   width: 100%;
   height: 400px;
   padding-top: 5px;
}
.configurationListTable{
	width: 900px;
	height: 100%;
}

.noComponentAvailLbl {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px;
}

.minusIconField {
	width: 20px;
	cursor: pointer;
	cursor: hand;
}

.propConfigTitleLabel {
	font-weight: bold;
	font-size: 14px;
}

.eventNameLabel {
	font-weight: bold;
}

.eventNamePanel {
	margin-top: 5px;
	width: 100%;
}

.isUpdateConfigLabel {
	font-weight: bold;
}

.isUpdateConfigPanel {
	width: 100%;
	margin-top: 3px;
}

.updateConfigurationBasePanel {
	width: 100%;
	margin-top: 3px;
}

.updateConfigurationPanel {
	width: 100%;
}

.innerUpdateConfigurationPanel {
	width: 100%;
}

.isTransformWidgetPanel {
	width: 100%;
	margin-top: 3px;
}

.transformInstancePanel {
	width: 100%;
	margin-top: 3px;
}

.transformInstanceLabel {
	font-weight: bold;
}

.transformTypePanel {
	width: 100%;
	margin-top: 3px;
}

.transformTypeLabel {
	font-weight: bold;
}

.transformToPanel {
	width: 100%;
	margin-top: 3px;
}

.transformToLabel {
	font-weight: bold;
}

.addPageConfigBasePanel {
	width: 100%;
	margin-top: 10px;
}

.createAppBtn {
	height: 25px;
	border: 1px solid grey;
	font-family: 'Ubuntu', sans-serif;
	color: #333;
	cursor: pointer;
	background-color: white;
	border-radius: 2px;
}

.createAppBtn:Hover{
    border-color: orange;
}

.createAppWidgetLabels{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: #333;
	margin-bottom: 4px;
}

.errorLabelCss{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: red;
}
.createAppListBox{
	border: 1px solid grey;
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}

.plusIconField {
	cursor: pointer;
	cursor: hand;
}


.serviceVersionTextField {
	width: 255px;
	border: 1px solid grey;
	height: 20px;
	text-indent: 10px;
}

.serviceNameTextField{
	width: 255px;
	border: 1px solid grey;
	height: 20px;
	text-indent: 10px;
}

.saveConfInstanceBtnCss{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 10px;
    cursor: hand;
    cursor: pointer;
}

.PageManagerBasePanel {
	padding-left: 30px;
	padding-top: 10px;	
}

.pageTitleLabel {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin: 0 10px 10px;
}
.createAppPlusServiceHeaderLbl{
	font-size: 16px;
	font-weight: bold;
}

.augesHeader  {
	margin: 5px;
	background-color: white;
	border: 1px solid grey;
	width: 99%;
	padding: 4px;
}

.augsLogoImage{
	width: 100px;
}

.userIconImage {
	width: 20px;
	margin: 8px 10px 8px 0;
	cursor: pointer;
}

.createServiceHeaderLinkBase{
	margin: 10px;
}

.augsHeaderLink{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: grey;
	cursor: pointer;
}

.augsHeaderLink :HOVER{
	text-decoration: underline;
}

.headerServiceSelectionListBox {
	border: 1px solid grey;
	color: #585858;
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	margin: 8px 3px 8px 0;
	cursor:pointer;
}

.headerServiceSelectionListBox:HOVER{
    border-color:orange;
}
.breadcrumbComponent{
	display: inline-block;
}

.updateRecord {
	width: 400px;
	height: 50px;
	background: lightblue;
	border: 1px solid black;
	margin: 5px 5px 10px 5px;
	padding: 5px;
}

.serviceRecord {
	width: 150px;
	height: 25px;
	border: 1px solid grey;
	margin: 5px 5px 5px 5px;
	font-family: 'Ubuntu', sans-serif;
	color: #333;
	background: white;
	border-radius: 2px;
	padding: 5px;
}

.servicePanel {
	border: 1px solid grey;
	overflow: scroll;
	margin: 23px 0 0 25px;
	padding: 20px;
}

.updatePanel {
	/* border: 1px solid black;
	width: 450px;
	text-indent: 10px;
	border: 1px solid black;
	padding: 20px; */
}

.mainPanel {

}

.fullWidth{
	width: 70%;	
}

.activityActionAnchor{
	font-size: 15px;
	color: black;
}

/* .activityResultDisplayer{
    margin : 20px 0 0 0;
    padding: 10px;
}

.activityListSnippet{
	height : 200px;	
}
 */

.bolderLbl{
	font-weight: bold;
}

.activitySnippnet {
	background-color: #FFC;
	border-right: 2px solid #D1D3D4;
	border-bottom: 2px solid #D1D3D4;
	width: 400px;
}

.activityUserImageIcon{
	height: 48px;
	width: 48px;
}

.postUserImage{
  border: #efefef 1px solid;
  border-radius:3px;
  cursor: hand;
	cursor: pointer;
}	
.postTimeLabel{
	color: #a7a9ac;
	font-size: 10px;
}
.postContextLabel{
	color: #58595b;
	font-size: 12px;
}
.handCss{
	cursor: hand;
	cursor: pointer;
}

.postLabel{
	width: auto;
    float: left;
    margin-right: 5px;
    color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.postLink{
	width: auto;
    float: left;
    margin-right: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: blue;
}
.postLink:link, .postLink:visited, .postLink:active{
	width: auto;
    float: left;
    margin-right: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: blue;
}
.postLink:hover{
	color: red;
}

.breadcrumbCompHolder{
	border: 1px solid grey;
	border-raduis: 2px;
	width: 99%;
	margin: 0 5px 5px;
}

.breadcrumbLink{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: grey;
	cursor: pointer;
}

.breadcrumbLinkBase {
	margin: 10px;
}

.breadcrumbActnImgCss{
	margin: 11px 0;
	cursor: pointer;
}

.breadCrumbPopup{
	border: 1px solid grey;
	background-color: white;	
}