.registerCompHeaderLbl{
	font-size: 20px;
}

.registerCompFormTf{
	width: 80px;
	height: 30px;
}

.saveCompBtnCss{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 10px;
    cursor: hand;
    cursor: pointer;
}

.removePropertyImage {
	width: 17px;
	cursor: pointer;
	cursor: hand;
	margin-top: 8px;
	margin-left: 7px;
}

.compRegisterLabelCss{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-top: 10px;
	background-color: rgb(224, 224, 224);
}

.properyPanelCss{
	margin-top: 10px;
}

.saveConfigButton{
	height: 30px;
	border: 1px solid #DCDCDC;
	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    margin-top: 4px;
    cursor: hand;
    cursor: pointer;
}

.componentFormPanel{
	border: 1px solid;
	width: 930px;
	margin-top: 4px;
	margin-left: 10px;
	
}

.componentListPanel{
	margin-left: 15px;
}
.formListHolder{
	border-bottom: 1px solid;
	border-top: 1px solid;
	width: 1000px;
	margin-top: 10px;
}

.componentManager{
	
}

.compPanelCss{
	height: 25px;
	background-color: lightgray;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	width: 500px;
}

.confEditorPanel{
	margin-top: 10px;
	margin-bottom: 10px;
}

.componentSectionHeaderLbl{
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 10px;
}

.libraryPanel{
	margin-top: 7px;
	width: 300px;
}
/*************************/

.managerHomePanel{
	border: 1px solid;
}

.managerHomeButton {
	width: 130px;
	height: 50px;
	border: 1px solid #DCDCDC;
	margin: 5px 5px 5px 5px;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
	box-shadow: 1px 1px 1px 0 rgb(99, 85, 85);
	color: #333333;
	cursor: hand;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
}

.buttonToolbar{
	border-right: 1px solid;
}

.contentPanel{
	margin: 5px 5px 5px 5px;
}

.componentListRow{
	cursor: pointer;
	border-bottom-style:dotted;
}

/****** SNIPPET MANAGER********/
.headerLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color : #333;
}
.subHeaderLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color : #333;
}
.regularLabel{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}
.textField{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color : #333;
}

.configurationPropertyGrid{
	border-bottom: 1px solid black;
}
.FlexTable-headerBar {
  
  background: lightgray;
}

.pageCreationBasePanel {
	width: 100%;
}

.selectPagePanel {
	width: 100%;
}

.createPageButtonPanel {
	width: 100%;
	margin-top: 5px;
}

.editPagePanel {
	width: 100%;
	margin-top: 5px;
}

.pageConfigurationBasePanel {
	width: 100%;
}

.spanSelectionPanel {
	width: 100%;
	margin-top: 10px;
}

.editPageLabel {
	font-weight: bold;
}

.configTitleLabel {
	font-weight: bold;
}

.newPageNamePanel {
	width: 100%;
}

.newPageTitleLabel {
	font-weight: bold;
}

.processPageButton {
	border: 1px solid #DCDCDC;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    font-family: 'Ubuntu',sans-serif;
    height: 25px;
	cursor: pointer;
	cursor: hand;
}

.createPageButton {
	border: 1px solid #DCDCDC;
	font-family: 'Ubuntu', sans-serif;
	-webkit-box-shadow: 1px 1px 1px 0px #8F8C8C;
    box-shadow: 1px 1px 1px 0 #8F8C8C;
    color: #333333;
    font-family: 'Ubuntu',sans-serif;
    height: 25px;
	cursor: pointer;
	cursor: hand;
}

.fullWidth{
	width: 100%;
}

.queryDetailHolderCss{
	border: 1px solid black;
	padding: 10px;
}

.opDetailHolderCss{
	border: 1px solid black;
	padding: 10px;
}

.gwt-TabPanelBottom {
	border-color: black !important;
	border-width: 1px !important;
	overflow: hidden;
	padding: 6px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	cursor: default;
	background: grey !important !important;
	border-left : 2px orange solid;
	border-right : 2px orange solid;
	border-top : 2px orange solid;
    opacity : 0.4;
}

.gwt-TabBar .gwt-TabBarItem {
	padding: 4px 10px !important;
	color: white !important;
	font-weight: normal !important;
	background: black !important;
	border-radius: 3px 3px 0 0 !important;
}

.propNameValContainerFlex{
	margin-left: -20px;
}

.modelLblCss{
	margin-top: 5px;
}

.popupCss{
	left: 542px;
	top: 70px;
	visibility: visible;
	position: absolute;
	overflow: visible;
	height: 20px;
	text-align: center;
	background-color: lightyellow;
	padding: 7px;
}

.popupGlassPanel{
 	background-color: #FFFFFF;
    opacity: 0.3;
}

.popupLbl{
	font-family: 'Ubuntu',sans-serif;
	color: #585858;
}

.componentNameSuggestionBox{
	margin: 10px 0px 0px 10px;
	padding: 3px;
}

.propertNameField{
	margin: 14px 0px 0px 10px;
	padding: 3px;
}

.propertyValueField{
	margin: 9px 0px 0px 10px;
	padding: 3px;
}

.emsTypeListBox {
	margin-top: 10px;
	margin-left: 5px;
	border: 1px solid grey;
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	padding: 3px;
}

.isDefaultField{
	margin-top: 11px;
	
}

.libraryListBoxField {
	margin-top: 11px;
	border: 1px solid grey;
	color: #585858;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	padding: 3px;
	margin-left: 10px;
}

.configurationPropertyGrid{
	border-bottom: 1px solid black;
}
.FlexTable-headerBar {
  
  background: lightgray;
}
.propertyConfListScrollPanel{
   border: 1px solid black;	
   margin-top: 10px;
   width: 100%;
   height: 400px;
   padding-top: 5px;
}
.configurationListTable{
	width: 900px;
	height: 100%;
}
