<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->

	<!-- Atmosphere related mapping -->
	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>org.atmosphere.disableOnStateEvent</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.atmosphere.cpr.AtmosphereHandler</param-name>
			<param-value>in.appops.platform.server.core.services.entitybroadcast.AtmosphereHandler</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/gwtComet</url-pattern>
	</servlet-mapping>
	
	
	<filter>
    	<filter-name>guiceFilter</filter-name>
    	<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
 	</filter>

  	<filter-mapping>
    	<filter-name>guiceFilter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	
  <listener>
  <listener-class> in.appops.platform.bindings.web.gwt.dispatch.server.guice.AppOpsGwtServletConfig</listener-class>
  </listener>

</web-app>
